---
import data from "@/data/config";
import { Image } from "astro:assets";
const { siteInfo } = data;
import Logo from "@/assets/logo.png";
---

<a href="/" class="Brand">
	<Image src={Logo} alt={siteInfo.name} width={100} height={100} />
</a>

<style lang="scss">
	.Brand {
		font-weight: 700;
		font-size: 2rem;
		color: var(--ui-white);
		text-decoration: none;

		img {
			max-width: 95px;
		}

		@media screen and (max-width: 480px) {
			font-size: 1.2rem;
		}
	}
</style>
