---
import data from "@/data/config";
const { siteInfo } = data;
---

<a href="/" class="Brand">
	<img src={siteInfo.logoUrl} alt={siteInfo.name} />
</a>

<style lang="scss">
	.Brand {
		font-weight: 700;
		font-size: 2rem;
		color: var(--ui-white);
		text-decoration: none;

		img {
			max-width: 85px;
		}

		@media screen and (max-width: 480px) {
			font-size: 1.2rem;
		}
	}
</style>
