---

---

<aside class="TourSidebar">
	<h3>Contenido adicional</h3>
	<div class="widget">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet dicta minima
		id voluptate soluta quidem.
	</div>
</aside>

<style lang="scss">
	.TourSidebar {
		display: flex;
		flex-flow: column nowrap;
		padding: 1rem;
		background-color: var(--info-color);
	}
</style>
