---
import PagesLayout from "@/layouts/PagesLayout.astro";
import data from "@/data/config";
import SectionHeading from "@/components/shared/SectionHeading.astro";
import Image from "astro/components/Image.astro";
import ABOUT from "@/assets/site-images/about.webp";
---

<PagesLayout
  title="Acerca de nosotros"
  description="Somos una familia dedicada al marketing digital y queremos ayudarte con tu emprendimiento"
  image="/screenshot.png"
>
  <div class="Container">
    <Image
      src={ABOUT}
      alt={"Equipo trabajando en un diseño sobre una mesa"}
      width={1024}
      height={768}
      class="PageImage"
    />
    En {data.siteInfo.name}, somos una agencia comprometida con el 

    <h2>Nuestra Misión</h2>

    Nuestra misión es brindar servicios de 

    <h2>Lo que Nos Hace Únicos</h2>

    
    <h2>Nuestro Enfoque</h2>
    <p>
      En {data.siteInfo.name}, 
    
  </div>
</PagesLayout>
