---
import PagesLayout from "@/layouts/PagesLayout.astro";
import WhatsAppLg from "@/components/social-icons/WhatsAppLg.astro";
import SectionHeading from "@/components/shared/SectionHeading.astro";

const title = "Contacto";
const description = "Escríbenos, haz tus consultas y contrata nuestros tours";
---

<PagesLayout
	title="Contacto - Muller And Kong"
	description="Escríbenos directamente vía WhatsApp y te asesoraremos para elegir el mejor plan"
	image="/screenshot.png">
	<div class="Container">
		<SectionHeading title={title} description={description} />
		<a href="https://wa.me/973897560"> <WhatsAppLg /> </a>
	</div>
</PagesLayout>
