---
import Button from "./shared/Button.astro";
---

<section class="Hero">
	<div class="Container">
		<div class="Hero-Container">
			<h1 class="Hero-Title shadow-titles">Tours en la Región de Coquimbo</h1>
			<p class="Hero-Description">
				Ven a conocer el Valle Del Elqui, las Termas de Ovalle, montañas y ríos
				con nosotros.
			</p>
			<div class="Hero-Actions">
				<Button
					text="Ver todos los tours"
					url="/tours"
					classes="Button ButtonDefault"
				/>
				<Button
					text="Contáctanos"
					url="/contact"
					classes="Button ButtonSecondary"
				/>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	.Hero {
		background-image: linear-gradient(
				rgba(47, 11, 61, 0.301),
				rgba(39, 18, 88, 0.767)
			),
			url(/src/assets/hero/hero-1.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: local;
		background-attachment: fixed;
		aspect-ratio: 16/6;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
	}

	.Hero-Container {
		display: flex;
		flex-flow: column;
		justify-content: first baseline;
	}

	.Hero-Title {
		font-size: 3.5rem;
		line-height: 1;
		font-weight: 900;
		margin: 0;
		color: var(--ui-white);
	}

	.Hero-Description {
		font-size: 1.2rem;
		font-weight: 600;
		line-height: 1.2;
		margin: 1rem 0;
		color: var(--ui-white);
	}

	.Hero-Actions {
		display: flex;
		justify-content: start;
		gap: 2rem;
	}

	@media (max-width: 768px) {
		.Hero-Title {
			font-size: 2rem;
			line-height: 1.3;
		}
	}
</style>
