---
// src/layouts/BlogPost.astro
import { type CollectionEntry } from "astro:content";
import SectionHeading from "@/components/shared/SectionHeading.astro";

interface Props {
	entry: CollectionEntry<"tours">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// const { title } = entry.data;
---

<SectionHeading title={entry.data.title} />
<div class="Container">
	<article class="MdContents">
		<Content />
	</article>
</div>
